.font-xl{
            font-size:1.6rem;
        }
        .font-l{
            font-size:1.2rem;
        }
        .font-m{
            font-size:1rem;
        }
        .font-s{
            font-size:.8rem;
        }
        .font-xs{
            font-size:.5rem;
        }
